.form {
    background-color: $lt-background-light-less;
    margin: 90px auto;
    padding: 60px 60px 60px;
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include h3();
        max-width: 500px;
        text-align: center;
        margin: 0;
        padding: 3px 0 20px;
    }

    &__subtitle {
        @include text();
        margin: 0;
        padding: 0 0 100px;
        opacity: .6;
    }
    
    &__fieldset {
        display: flex;
        gap: 40px;
        border: none;
        width: 100%;
        justify-content: stretch;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    &__input {
        @include text();
        width: 100%;
        border-radius: 8px;
        border: none;
        padding: 15px 20px 15px;
    }

    &__button {
        @include text();
        font-weight: 600;
        width: 194px;
        height: 54px;
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        background-color: $lt-background-dark;
        border: none;
        text-decoration: none;
        color: $lt-background-light;
        border-radius: 8px;
        margin-top: 14px;
    
    }
}