.header {
  background-color: $background-dark;
  border-radius: 20px;
  color: $text-color-light;
  display: flex;
  margin: 10px auto 30px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding-top: 30px;
    width: 100%;
    min-height: 640px;
    position: relative;    
  }

  &__logo {
    max-width: 40px;
  }

  &__title {
    @include h1();
    margin: 0;
    max-width: 650px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  &__subtitle {
    @include text-xl();
    margin: 0;
    max-width: 450px;
    opacity: 0.7;
  }

  &__image {
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 1;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  }

  &__link {
    @include text();
    font-weight: 600;
    width: 240px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lt-background-light-less;
    text-decoration: none;
    color: $lt-background-dark;
    border-radius: 8px;
    margin-top: 106px;
  }
}
