.main {
  flex: 1;

  &__content {
    margin: 10px auto;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__heading {
    @include h2();
    margin: 0;
    padding: 90px 0 30px;
    display: flex;
    text-align: center;
    max-width: 1100px;
    text-align: left;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1439px) {
  .main {

    &__content {
        
    }

    &__heading {
      padding: calc(40px + (100vw - 768px) * (90 - 40) / (1439 - 768)) 0 30px;
      width: calc(100vw - 120px);
    }
  }  
}