// Fonts
$font-family: "Inter", Arial, sans-serif;

// light theme ('lt-' prefix)
$lt-text-color-dark: #111111;
$lt-text-color-dark-less: rgba(17, 17, 17, 0.6);
$lt-text-color-light: #ffffff;
$lt-text-color-light-less: rgba(255, 255, 255, 0.7);

$lt-background-light: #ffffff;
$lt-background-light-less: #f8f8f8;
$lt-background-dark: #222222;

// dark theme ('dt' prefix)
// for future purpose

$background:$lt-background-light;
$background-dark: $lt-background-dark;
$text-color-dark: $lt-text-color-dark;
$text-color-light: $lt-text-color-light;

// Typographic
// 
// H1
$h1-font-weight: 700;
$h1-font-size: 60px;
$h1-line-height: 69px;

// H2
$h2-font-weight: 600;
$h2-font-size: 60px;
$h2-line-height: 68px;

// H3
$h3-font-weight: 600;
$h3-font-size: 32px;
$h3-line-height: 38px;

// H4
$h4-font-weight: 500;
$h4-font-size: 32px;
$h4-line-height: 38px;

// H5
$h5-font-weight: 500;
$h5-font-size: 18px;
$h5-line-height: 20px;

// text-xl
$text-xl-font-weight: 400;
$text-xl-font-size: 18px;
$text-xl-line-height: 26px;

// text
$text-font-weight: 400;
$text-font-size: 16px;
$text-line-height: 24px;